<div id="acssa-loader" class="loader acssa-loader-wrapper">
    <div class="loader-inner ball-pulse">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div id="acssa-chart-block">
    <div class="acssa-chart-wrapper acssa-chart-wrapper-active" id="acssa-mydiv-difficulty-wrapper">
        <div id="acssa-mydiv-difficulty" style="width:100%;"></div>
    </div>
    <div class="acssa-chart-wrapper" id="acssa-mydiv-accepted-count-wrapper">
        <div id="acssa-mydiv-accepted-count" style="width:100%;"></div>
    </div>
    <div class="acssa-chart-wrapper" id="acssa-mydiv-accepted-time-wrapper">
        <div id="acssa-mydiv-accepted-time" style="width:100%;"></div>
    </div>
</div>