<div id="acssa-tab-wrapper">
    <ul class="nav nav-pills small" id="acssa-chart-tab">
        <li class="active">
            <a class="acssa-chart-tab-button"><span class="glyphicon glyphicon-stats"
                    aria-hidden="true"></span>Difficulty</a>
        </li>
        <li>
            <a class="acssa-chart-tab-button"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>AC
                Count</a>
        </li>
        <li>
            <a class="acssa-chart-tab-button"><span class="glyphicon glyphicon-stats"
                    aria-hidden="true"></span>LastAcceptedTime</a>
        </li>
    </ul>
    <ul class="nav nav-pills" id="acssa-checkbox-tab">
        <li>
            <a><label><input type="checkbox" id="acssa-checkbox-toggle-your-result-visibility" checked> Plot your
                    result</label></a>
        </li>
        <li id="acssa-checkbox-toggle-log-plot-parent">
            <a><label><input type="checkbox" id="acssa-checkbox-toggle-log-plot">Log plot</label></a>
        </li>
    </ul>
</div>